.container {
	padding: 2rem 1rem;
	background-color: $bg-color;
	box-shadow: 2px 0 5px #ccc, -2px 0 5px #ccc;
}

@media (min-width: 768px) {
	.container {
		width: 100%;
		padding: 2rem 2rem;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1140px;
		padding: 2rem 6rem;
	}
}

@media (min-width: 1600px) {
	.container {
		width: 1320px;
		padding: 2rem 8rem;
	}
}
