.blanket {
	z-index: 999;
}

.dialog {
	position: fixed;
	padding: 2rem 4rem;
	width: 90%;
	top: 50%;
	transform: translate(0, -50%);
	border: 1px solid $primary-color;
	background-color: $bg-color;
	z-index: 1000;

	.dialog-header {
		position: relative;
		text-align: center;
		margin-bottom: 3rem;
	}

	.close-btn {
		position: absolute;
		right: -1rem;
		top: 0;
		background: url("/images/icons/cross.png");
		background-size: contain;
		background-repeat: no-repeat;
		height: 12px;
		width: 12px;
		border: none;
	}

	.dialog-content {
		display: flex;
		flex-direction: column;
	}
}

@media (min-width: 768px) {
	.dialog {
		width: 80%;
	}
}

@media (min-width: 1200px) {
	.dialog {
		width: 800px;
	}
}

@media (min-width: 1600px) {
	.dialog {
		width: 900px;
	}
}
