.btn {
	background: none;
	border: 1px solid $accent-color;
	color: $accent-color;

	&:hover {
		background-color: $accent-color;
		color: white;
	}
}

.text-input {
	border: 1px solid $search-color;
	padding: 0 1rem;
}

select {
	background: none;
	border: 1px solid $search-color;
	padding: 0 1rem;
}
