#add-teacher-dialog {
	width: auto;

	.dialog-content {
		padding: 0 2rem;
	}

	.form-field {
		margin-bottom: 1.2rem;
	}

	.form-field:not(.inline) {
		display: flex;
		flex-direction: column;
		row-gap: 6px;
	}

	.form-field fieldset {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.inputs {
			display: flex;
			align-items: center;
		}
	}

	.text-input,
	select {
		display: block;
		width: 100%;
		height: 2rem;
	}

	.form-actions {
		margin-top: 2.4rem;
	}

	.add-btn {
		width: 100%;
		font-size: 1.8rem;
		font-weight: bold;
		padding: 12px 0;
	}

	label[for="bg-color"] {
		margin-right: 1rem;
	}

	.errors-list {
		display: flex;
		flex-direction: column;
		row-gap: 4px;
		color: red;

		li {
			text-transform: capitalize;
		}
	}
}
