body {
	display: flex;
	justify-content: center;
	background-color: $bg-color-dark;
}

.title-container {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}

#title-link {
	text-decoration: none;
}

#title {
	font-family: 'Times New Roman', Times, serif;
	font-size: 3rem;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 1px $primary-color, -2px -2px 1px $accent-color;
	letter-spacing: 2px;

	&:hover {
		color: $title-color-hover;
	}
}

.search-container {
	margin-left: auto;
	display: flex;
	column-gap: 20px;

	#search-input,
	#search-btn {
		padding: 8px 16px;
		font-size: 1rem;
	}

	#search-btn {
		font-weight: bold;
	}
}

nav ul {
	display: flex;
	column-gap: 2rem;
}

.nav-container {
	display: flex;
	align-items: center;

	ul a {
		color: $accent-color;
		text-decoration: none;
		font-size: 1.2rem;

		&:hover {
			color: $accent-color-dark;
		}
	}

	.add-teacher-btn {
		margin-left: auto;
		padding: 12px 24px;
		font-size: 1.4rem;
		font-weight: bold;
	}
}

.section-title {
	text-align: center;
	font-size: 2.2rem;
	margin-bottom: 2rem;
}

.filters-container {
	display: flex;
	column-gap: 1.5rem;
	align-items: center;
	margin-bottom: 2rem;

	.filters-list {
		display: flex;
		column-gap: 3rem;
	}

	.filter label {
		color: $search-color;

		&:hover {
			color: $primary-color;
		}
	}

	#filter-age {
		width: 8rem;
	}
}

.teachers-container {
	padding: 0 3rem;
	position: relative;

	#top-teachers-list {
		row-gap: 4rem;
	}

	.load-more-teachers-btn {
		display: block;
		margin: 3rem auto 0;
		font-weight: bold;
		padding: 0.5rem 2rem;
	}
}

.teachers-list {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
	column-gap: 5rem;

	li {
		display: flex;
		justify-content: center;
	}
}

.teacher-card-small {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	cursor: pointer;
	background: none;
	border: none;

	.avatar {
		width: 8rem;
		height: 8rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: 5px solid $accent-color;
		margin-bottom: 1.5rem;

		span {
			font-size: 1.6rem;
			font-weight: bold;
			color: $accent-color;
		}
	}

	.teacher-name {
		font-size: 1.4rem;
		text-align: center;
		line-height: 2rem;
		user-select: all;
	}

	.teacher-country {
		margin-top: 1rem;
		font-size: 12px;
	}

	&.starred::after {
		background: url(/images/icons/star.png);
		background-size: contain;
		background-repeat: no-repeat;
		content: '';
		position: absolute;
		width: 20px;
		height: 20px;
		right: 0;
	}

	&:hover .avatar {
		border-color: $accent-color-dark;

		span {
			color: $accent-color-dark;
		}
	}
}

#statistics-table {
	width: 100%;

	thead {
		font-size: 1.2rem;
	}

	tbody {
		border-top: 1px solid $primary-color;
	}

	th {
		padding: 12px 0;
		border-bottom: 3px solid transparent;

		&:hover {
			background-color: $table-bg-color-darker;
			border-color: $primary-color;
		}
	}

	td {
		padding: 10px 0;
	}

	.name-col {
		text-align: left;
		width: 40%;
	}

	.age-col,
	.gender-col {
		width: 15%;
	}

	.age-val,
	.gender-val,
	.nationality-val {
		text-align: center;
		text-transform: capitalize;
	}

	.name-col,
	.name-val {
		padding-left: 1.4rem;
	}

	tr:nth-child(2n) {
		background-color: $table-bg-color;
	}
}

.pagination {
	margin-top: 2rem;

	.pages-list {
		display: flex;
		column-gap: 1rem;
		padding-left: 1rem;
	}

	button {
		background: none;
		color: $link-color;
		border: none;

		&:hover {
			color: $link-color-dark;
		}

		&:disabled {
			color: darken($link-color-dark, 30%);
		}
	}

	li.selected button {
		color: $primary-color;
	}
}

.charts {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 3rem;
}

.chart {
	height: 20rem;
}

.carousel {
	position: relative;
	padding: 0 3rem;
	overflow-y: clip;

	.teachers-list {
		grid-template-rows: 1fr;
		grid-auto-rows: 0;

		li {
			padding: 1rem 0;
		}
	}

	.prev-btn {
		background: url(/images/icons/arrow-left.png);
		left: -1rem;
	}

	.next-btn {
		background: url(/images/icons/arrow-right.png);
		right: -1rem;
	}

	@media (min-width: 968px) {
		.prev-btn {
			left: -4rem;
		}

		.next-btn {
			right: -4rem;
		}
	}

	.carousel-btn {
		background-size: contain;
		background-repeat: no-repeat;
		width: 4rem;
		height: 4rem;
		border: none;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		filter: contrast(10%);

		&:hover {
			filter: none;
		}
	}
}

footer {
	#about {
		display: flex;
		flex-direction: column;
		row-gap: 1rem;
		margin-bottom: 2rem;
	}

	.nav-container .nav-item a {
		color: $link-color;

		&:hover {
			color: $link-color-dark;
		}
	}
}
