#teacher-card-dialog {
	.data-container {
		display: flex;
		flex-wrap: wrap;
		column-gap: 3rem;
		margin-bottom: 2rem;
	}

	.avatar {
		width: 40%;
		height: 40%;
	}

	.card-data {
		flex-grow: 1;

		dt {
			display: inline;
			margin-right: 4px;

			&:not(.visible) {
				@include visually-hidden;
			}
		}

		.data-title {
			font-size: 2.4rem;
			margin-bottom: 3rem;
			display: flex;
			align-items: center;
		}

		.star-btn {
			width: 2rem;
			height: 2rem;
			background: url('/images/icons/star-empty.png');
			background-size: contain;
			background-repeat: no-repeat;
			margin: 0 4rem 0 auto;
			border: none;

			&.active {
				background: url('/images/icons/star.png');
				background-size: contain;
			}
		}

		.data-group {
			margin: 1rem 0;
		}

		dd {
			display: inline;

			&:not(&:last-child)::after {
				content: ', ';
			}
		}

		.email {
			color: $link-color;
			text-decoration: none;
		}
	}

	.about-container {
		p {
			line-height: 16px;
			margin-bottom: 2rem;
		}

		.toggle-map {
			color: $link-color;
			text-decoration: underline $link-color dotted;
		}
	}

	.map-container {
		height: 10rem;
	}
}
