$primary-color: black;
$bg-color: white;
$bg-color-dark: #fcfcfc;
$accent-color: #f87e68;
$accent-color-dark: #cd4e3d;
$link-color: #96c9e2;
$link-color-dark: #9ab4c2;
$table-bg-color: #f9f5f9;
$table-bg-color-darker: #fafafa;
$search-color: #a0a0a0;
$title-color-hover: #eee;
